* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: none; /* Hide default cursor */
}

body {
    min-height: 100vh;
    background-color: #050908;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    background-color: #050908;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    padding: 5px;
  }

.container {
    max-width: 800px;
    margin: auto;
}

.container1 {
    max-width: 400px;
    margin: auto;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}

hr {
    margin: 10px 0;
}

nav a {
    color: #9999ff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

p, h3 {
    margin: 10px 0;
}

a {
    color: #9999ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bio-photo-container {
    display: flex;
    justify-content: space-between;
}
.bio {
    width: 60%;
    text-align: left;
}

.photo {
    width: 35%;
    text-align: right;
}

.photo img {
    width: 100%;
    border-radius: 5px;
}

/* Cursor Effect */
.circle {
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid white;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.section {
    width: 48%;
    padding: 10px;
}

.divider {
    border-right: 2px dotted white;
    height: 100%;
    width: 2px;
    margin: 0 10px;
}



.tooltip {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 12px;
        display: none;
        pointer-events: none;
}
